<!-- l’utilisateur connecté saisit l’ancien mot de passe + le nouveau -->

{% extends "base.html" %}

{% load static %}

{% block content %}

<main>
  <div class="profile-container">
    <h2>Changer mon mot de passe</h2>
    <form method="post" novalidate>
      {% csrf_token %}

      {# Champ ancien mot de passe #}
      <div>
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
        {% if form.old_password.errors %}
          <div class="error">{{ form.old_password.errors }}</div>
        {% endif %}
      </div>

      {# Champ nouveau mot de passe #}
      <div>
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
          <div class="error">{{ form.new_password1.errors }}</div>
        {% endif %}
      </div>

      {# Champ confirmation #}
      <div>
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
          <div class="error">{{ form.new_password2.errors }}</div>
        {% endif %}
      </div>

      <div class="button-group">
        <button type="submit" class="btn">Valider</button>


        <a href="{% url 'profile' %}" class="btn btn-secondary">Annuler</a>
      </div>
    </form>
  </div>
</main>

{% endblock %}