
form {
    margin-bottom: 20px;
}

form p {
    margin: 10px 0;
}

form input[type=text],
form input[type=email],
form input[type=password],
form textarea,
form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form button[type=submit] {
    margin-top: 10px;
}