/******************************* Base : mobile-first *******************************/


.posts-container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.posts-container h2 {
    color: #34495e;
    margin-bottom: 15px;
    text-align: center;
}


/******************************* Desktop (≥768px) *******************************/
@media (min-width: 768px) {
    .posts-container {
        padding: 40px 50px;
    }
}