<!-- templates/partials/review_snippet.html - UNIQUEMENT LORSQUE REVIEW PUBLIÉE - PLUS UTILISÉ POUR LA CRÉATION -->


<div class="review-snippet">

    <div class="snippet-header">
        <div class="left">
            {% if post.user == request.user %}
                <strong>Vous avez publié une critique !</strong>
            {% else %}
                <strong>{{ post.user.username }} a posté une critique !</strong>
            {% endif %}
        </div>
        <div class="right">
            <small>{{ post.time_created|date:"H:i, d M Y" }}</small>
        </div>
    </div>

    <div class="review-header">
        <h3>
            {{ post.headline }} –
            {% for i in "12345"|make_list %}
                {% if forloop.counter <= post.rating %}
                    ★
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
        </h3>
    </div>

    <p>{{ post.body }}</p>

    {% include 'feed/partials/ticket_snippet.html' with ticket=post.ticket hide_actions=True %}

    <div class="button-group">
        <a href="{% url 'edit_review' post.id %}" class="post-btn">Modifier</a>
        <a href="{% url 'delete_review' post.id %}" class="post-btn post-btn-delete">Supprimer</a>
    </div>

</div>