<!-- templates/partials/review_snippet.html - UNIQUEMENT LORSQUE REVIEW PUBLIÉE - PLUS UTILISÉ POUR LA CRÉATION -->
<!--Les étoiles (note) sont affichées dans review_snippet.html-->


<div class="snippet-review">

    <div class="snippet-header">
        <div class="left">
            {% if post.user == request.user %}
                <strong>Vous avez publié une critique !</strong>
            {% else %}
                <strong>{{ post.user.username }} a posté une critique !</strong>
            {% endif %}
        </div>
        <div class="right">
            <small>{{ post.time_created|date:"H:i, d M Y" }}</small>
        </div>
    </div>

    <div class="review-header">
        <div class="review-title-line">
            <h3 class="review-title">{{ post.headline }}</h3>
            <div class="star-rating">
            {% for i in "12345"|make_list %}
                {% if forloop.counter <= post.rating %}
                ★
                {% else %}
                ☆
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    <p>{{ post.body|linebreaksbr }}</p>

    {# On inclut le ticket associé SEULEMENT si le flag show_ticket_inline est passé (édition, détail) #}
    {% if show_ticket_inline %}
        {% include 'feed/partials/ticket_snippet.html' with ticket=post.ticket hide_actions=True %}
    {% endif %}

    <div class="snippet-actions">
        {% if post.user == request.user %}
            <a href="{% url 'edit_review' post.id %}" class="snippet-btn">Modifier</a>
            <a href="{% url 'delete_review' post.id %}?next={{ request.path }}" class="snippet-btn snippet-btn-delete">Supprimer</a>
        {% endif %}
    </div>

</div>