<!-- templates/partials/ticket_snippet.html -->

<div class="ticket-snippet">
    <h3>{{ ticket.title }}</h3>

    {% if ticket.description %}
        <p>{{ ticket.description }}</p>
    {% endif %}

    {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="Image du ticket">
    {% endif %}

    <small>Posté par {{ ticket.user.username }} le {{ ticket.time_created|date:"d M Y à H:i" }}</small>

    {% if ticket.user == request.user %}
        <div class="ticket-actions">
            <a href="{% url 'edit_ticket' ticket.id %}" class="btn">Modifier</a>
            <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-supp">Supprimer</a>
        </div>
    {% endif %}
</div>